/* nav{
  width: 90%;
  height: 50px;
  background-color: #8d2c27;
  margin: 0 auto;
  /* position: fixed;
  top: 0;

} */

*{
  /* border: 1px solid gold; */
}
body {
  color: red;
}
main{
  /* height: 500px; */
  /* width: 90%; */
  background-color: grey;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
  padding-top: 60px;
  padding-bottom: 40px;
  margin-top: 40px;
}

#left{
  width: 50%;
  /* border-right: 1px solid black; */
  height: 450px;
}
.right{
  margin: 0 auto;
}
.form1{
  /* width: 90%; */
  margin: 0 auto;
}
.form1 > input{
  margin-bottom: 20px;
}
.container{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wrap{
  /* width: 90%; */
  margin: 0 auto;
}
nav{
  background-color: #8d2c27 !important;
}

.imgs{
  height: 200px;
  background-color: red;
}
.carousel {
    margin-bottom: 0;
	padding: 0 40px 30px 40px;
}
/* Reposition the controls slightly */
.carousel-control {
	left: -12px;
}
.carousel-control.right {
	right: -12px;
}
/* Changes the position of the indicators */
.carousel-indicators {
	right: 50%;
	top: auto;
	bottom: 0px;
	margin-right: -19px;
}
/* Changes the colour of the indicators */
.carousel-indicators li {
	background: #c0c0c0;
}
.carousel-indicators .active {
background: #333333;
}
.span3{
  float: left;
  margin: 3px;
  box-sizing: border-box;
}
.row{
  margin: 0 auto;
  display: flex;
}
#myCarousel{
  width: 100%;
}
