/* nav{
  width: 90%;
  height: 50px;
  background-color: #8d2c27;
  margin: 0 auto;
  /* position: fixed;
  top: 0; 

} */

main{
  height: 500px;
  width: 90%;
  background-color: grey;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 10px;
}

#left{
  width: 50%;
  border-right: 1px solid black;
  height: 450px;
}
