<!-- form  -->
<!-- ctrl.movies.img_url
ctrl.movies.title
ctrl.movies.genre
ctrl.movies.year -->
<form>
  <div class="form-group form1" ng-submit="ctrl.processForm()">
    <label for="exampleInputEmail1">Create a Movie</label><br>
    <input type="text" ng-model="{{ctrl.movies.title}}"></input><br>
    <input type="text" ng-model="{{ctrl.movies.year}}"></input><br>
    <input type="text" ng-model="{{ctrl.movies.genre}}"></input><br>
    <input type="text" ng-model="{{ctrl.movies.plot}}"></input><br>
    <input type="text" ng-model="{{ctrl.movies.img_url}}"></input><br>
    <textarea type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="enter a review"></textarea><br>
    <button type="submit" class="btn btn-primary revbtn" ng-submit="">Submit</button>
  </div>

</form>
