<div class="container">
  <section id='left'>
    <div class="wrap">
      <h2>{{ ctrl.oneMovie.title }}</h2>
      <h4>{{ ctrl.oneMovie.year}}</h4>
      <h4>{{ ctrl.oneMovie.genre}}</h3>
      <p>{{ ctrl.oneMovie.plot}}</p>
      <h3> Meal Pairings </h3>
<table>
    <tr ng-repeat="oneReview in ctrl.oneMovie.reviews">
        <td ng-click="ctrl.deleteReview(oneReview)"><span class="fa fa-trash-o" ></span></td>
        <td ng-click="ctrl.displayEdit = true; ctrl.toEdit = oneReview.id"><span class="fa fa-pencil"></span></td>
        <td> <span class="bold"> Title: </span> {{oneReview.title}}</td>
        <td class="bold"> Rating:  {{oneReview.rating}} <i class="fa fa-star checked"></i></td>
        <td align="justify">{{oneReview.content}}</td>

          <div ng-if="ctrl.displayEdit === true" ng-include="'partials/edit-review.html'"></div>
    </tr>
</table>
    <div ng-include="'partials/add-review.html'"> </div>
    </section>
    <div>
      <img class="right one-image" ng-src="{{ ctrl.oneMovie.img_url }}">
    </div>
  </div>
