<div class="container">
  <section id='left'>
    <div class="wrap">
      <h2>{{ ctrl.oneMovie.title }}</h2>
      <h4>{{ ctrl.oneMovie.year}}</h4>
      <h4>{{ ctrl.oneMovie.genre}}</h3>
      <p>{{ ctrl.oneMovie.plot}}</p>

      <!-- Need to ng-repeat reviews -->
      <h3> Meal Pairings </h3>
      <div ng-repeat="oneReview in ctrl.oneMovie.reviews">
        <p> {{ oneReview.title }}</p>
        <p>{{oneReview.content}}</p>
        <p>{{oneReview.rating}}</p>
      </div>
      <!-- <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star checked"></span>
      <span class="fa fa-star"></span>
      <span class="fa fa-star"></span> -->

    <form ng-submit="ctrl.addReview(oneMovie.id)">
      <input type='text' placeholder="Title of Pairing" ng-model="ctrl.formdata.title" />
      <input type='text' placeholder="description of pairing" ng-model="ctrl.formdata.content" />
      <input type='text' placeholder="rating" ng-model="ctrl.formdata.rating" />
      <input type="submit" value="Create New Review" />
    </form>

    </section>

    <div>
      <img class="right one-image" ng-src="{{ ctrl.oneMovie.img_url }}">
    </div>

  </div>
